.myclass{
    color: rgb(51, 53, 53);
    background-color:gold;
    border: 2px solid rebeccapurple;
}

/*https://datacadamia.com/web/dom/event/click*/
a { border-radius:50%;
    background:deepskyblue;
    padding:1rem;
    display:inline-block ;
}
p{
    border-style:groove;
    border-radius: 50%;
    height: 100%;
    width: 120%;
}
/*when you hover over the link,it changes the colour*/
 a:hover{
    color: red;
 }
 a.highlight:hover{
    color: red;
    font-size: 10px;
 }
 p{
    display: none;
    background-color: orange;
    padding: 5px;
 }
 div:hover p{
    display: block;
}